<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="root">

        <!--Contenitore dello sfondo-->
        <div class="background">
            <div class="header-green"></div>
            <div class="grey-background"></div>
        </div>

        <div class="main-container">
            
            <!--contenitore sinistro dei contatti-->
            <div class="container-left">
                
                <!--contenitore delle informazioni dell'utente cliente-->
                <div class="user-info">
                    <img src="img/avatar_io.jpg" alt="personal avatar">
                    <h4>Nome Utente</h4>

                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <!--contenitore della sezione notifiche-->
                <div class="notifications">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="help-details">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!--contenitore dell'input di ricerca contatti-->
                <div class="search-contacts">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input @keyup="filtraContatti" v-model="contactSearch" type="text" placeholder="cerca o inizia una nuova chat">
                </div>

                <!--Contenitore della lista contatti-->
                <div class="contact-list">

                    <!--Creazione dinamica dei contatti tramite v-for, che estrapola i dati dall'array "contattiFiltrati" in vue-->
                    <div @click="setActive(index)" v-for="(contact, index) in contattiFiltrati" class="contact">
                        <img :src="contact.avatar" alt="avatar">
                        <div class="contact-info">
                            <h4>{{contact.name}}</h4>
                            <p>{{contact.messages[contact.messages.length-1].text}}</p>
                        </div>

                        <p class="date">{{contact.messages[contact.messages.length-1].date}}</p>
                    
                    </div>
                </div>

            </div>

            <!--Contenitore destro dei messaggi, e dell'input del nuovo messaggio-->
            <div class="container-right">

                <!--contenitore delle informzioni del contatto selezionato-->
                <div v-if="active==index" v-for="(contact, index) in contacts" class="avatar-info">
                    <img :src="contact.avatar" alt="chat avatar">
                    <div class="contact-details">
                        <h4>{{contact.name}}</h4>
                        <p>Ultimo accesso oggi alle {{contact.messages[contact.messages.length-1].date}}</p>
    
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
    
                    </div>
                </div>

                <!--contenitore di tutti i messaggi-->
                <div class="messages-container">
                    <div v-for="(message, index) in contacts[active].messages" class="message" :class="(message.status=='sent') ? 'sent' : 'received' ">
                        {{message.text}}
                        <i @click="mostraOpzioni(index)" class="fa-solid fa-angle-down"></i>
                        <p class="date">{{message.date}}</p>


                        <!--contenitore del menù delle opzioni del messaggio, inizialmente invisibile-->
                        <div class="message-info">
                            <p>Message info</p>
                            <p>Delete message</p>
                        </div>
                    </div>

                    
                </div>

                <!--contenitore dell'input per inserire un nuovo messaggio-->
                <div class="newMessageInput">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" @keyup.enter="addMessage(active)" v-model="newMessage"  placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>

        </div>

    </div>

    <!--Vue developer version-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <!--libreria day.js (browser)-->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    
    <script src="main.js"></script>
</body>
</html>